@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.topSpace{
    padding-top: 10%;
}

.extra{
    margin-top: 10%;
}

.detailsDiv{
    display:flex;
    justify-content:center;
    align-items: center;
}

.navbar{
    font-family: 'Righteous';
    position: absolute;
}

.footer{
    display: none;
}

.navbarSiteName{
    font-size: 40px;
}

.slider {
    position: relative;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 2s ease
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.stock {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    width: 50%;
    padding-bottom: 5%;
}

.stock:hover{
    transform: scale(1.05);
}

.stockAlt{
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
}


.chart {
    width : 900px;
    padding-bottom: 5%;
}


.datePriceListContainer{
    display: flex;
    align-items: center;
}

.dateList{
    padding: 2%;
    list-style-type: none;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
}

.averageP{
    font-size: 30px;
    font-weight: 100;

}

.listItem{
    margin: 2%;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    align-items:center;
    justify-content: center;
    width: 100%;
}

.date{
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-decoration: underline;
    padding-right: 5%;
    
}

.item{
    padding-right: 2%;
}


.graphSubtext{
    width: 100%;
    font-weight: 100;
    font-size: x-large;
}

.widthFix{
    width: 35%
}

@media only screen and (max-width: 1200px) {
    .chart{
        width: 700px
    }
    .widthFix{
        width: 60%
    }
}

@media only screen and (max-width: 992px) {
    .chart{
        width: 500px
    }
    .widthFix{
        width: 100%
    }
}

@media only screen and (max-width: 768px) {
    .chart{
        width: 300px
    }
    .widthFix{
        width: 100%
    }
}

.searchInputs{
    position: relative;
    height: 55px;
    max-width: 350px;
    width: 100%;
    margin: 0 30px;
    border-radius: 6px;
    background-color: gray;
}

.searchInputs input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    outline: 5px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

.searchHeader{
    font-family: 'Righteous'
}

.search{
    height: 85vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataResult{
    margin-top: 3%;
}



