@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.topSpace{
    padding-top: 10%;
}

.detailsDiv{
    display:flex;
    justify-content:center;
    align-items: center;
}

.navbar{
    font-family: 'Righteous'
}

.navbarSiteName{
    font-size: 40px;
}

.slider {
    position: relative;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 2s ease
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.stock {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 30px;
}

.chart {
    width : 900px;
}

@media only screen and (max-width: 1200px) {
    .chart{
        width: 700px
    }
}

@media only screen and (max-width: 992px) {
    .chart{
        width: 500px
    }
}

@media only screen and (max-width: 768px) {
    .chart{
        width: 300px
    }
}

.datePriceListContainer{
    display: flex;
    align-items: center;
}

.dateList{
    padding: 2%;
    list-style-type: none;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
}

.averageP{
    font-size: 30px;
    font-weight: 100;

}

.listItem{
    margin: 6%;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    flex-direction:column;
    align-items:center
}

.date{
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-decoration: underline;
    
}



